@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Roboto);


@font-face {
  font-family: 'Atlantic Cruise';
  src: url('../fonts/Atlantic_Cruise-Demo.ttf') format('truetype');
  src: url('../fonts/Atlantic_Cruise-Demo.woff') format('woff');
}

html, body {
	margin: 0;
	background: #eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	height: 100%
}

div.tab-forum
{
	cursor: pointer;
	font-size: 1em;
	font-family: Aller light;
	padding: 10px;
	border-left: 3px solid #fff;
}

#closeDiscussion
{
	font-size: 0.9em;
}

div.send-messages-option
{
	padding: 5px;
}

div.tab-forum:hover
{
	background-color: #ECF0F1;
	border-left: 3px solid #763568;
}

div.business
{
	border: 5px solid white;
	display: inline-block;
}

div.list-services
{
	padding: 15px;
}

div.cadre_service
{
	padding: 5px;
	border: 1px solid grey;
	display: inline-block;
}
div.cat-header
{
	font-size: 1.1em;
	font-family: "Lato";
	padding: 5px;
	margin-top: 10px;
	margin-top: 5px;
}

img.icon-header
{
	margin-right: 1px;
	padding-bottom : 5px;
}
div.header_options
{
	display: inline-block;
	font-family: "Aller light";
	font-size: 0.86em;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 7px;
	color: #ECF0F1;
}

kbd.notification-index
{
	font-size : 0.6em;
	display : inline-block;
	visibility: hidden;
}

div.header_options:hover
{
	border-bottom : 2px solid #ECF0F1;
}
.fbBtn {
    display:block;
  width: 100%;
  line-height: 34px;
  margin: 0;
  margin-top: 2px;
  padding: 9px 15px;
	text-indent: 10px;
	border:none;
	font-size: 18px;
	background:#3c5a98;
	color: #fff;
	font-family:Tahoma, Geneva, sans-serif;


	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);
}

.fbBtn::before{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    content:"f";
    float:left;
    width:34px;
    border-color:#3c5a98;
    text-transform:lowercase;
    text-indent:10px;
    font-weight:bold;
    margin:0 0 0 -8px;
    font-size:34px;
    line-height:36px;
    color:#fff;
    overflow:hidden;
    border: none;

    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);

    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

	
.fbBtn:hover{
	background: rgb(50,75,126);
    background: -moz-linear-gradient(top,  rgba(50,75,126,1) 0%, rgba(60,90,152,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,75,126,1)), color-stop(100%,rgba(60,90,152,1)));
    background: -webkit-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -o-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -ms-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: linear-gradient(to bottom,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324b7e', endColorstr='#3c5a98',GradientType=0 );
	}
	
.fbBtn:active{
	background: rgb(35,53,88);
    background: -moz-linear-gradient(top,  rgba(35,53,88,1) 0%, rgba(50,75,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,53,88,1)), color-stop(100%,rgba(50,75,126,1)));
    background: -webkit-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -o-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -ms-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: linear-gradient(to bottom,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233558', endColorstr='#324b7e',GradientType=0 );
	}
	
	
a:link, a:visited, a:active {
	text-decoration: none;
	color: #763568;
}
a:hover {
	text-decoration: none;
	
}
a.noColor
{
	color: #383A56;
}
span.sp
{
	font-weight: bold;
}

ul.ul-notif
{
	padding: 0;
    list-style-type: none;	
}

li.li-notif
{
	list-style-type: none;
	margin-left: 12px;
	font-size: 0.9em;
	font-family: "Aller";
	padding: 5px;
	border-left: 2px solid white;
	margin-bottom : 1px;
}

li.li-notif:hover
{
	border-left: 2px solid #383A56;
	cursor : pointer;
	background-color: #ECF0F1;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

div.side-button-style
{
	padding: 5px;
	font-family: "Caviar Dreams";
	font-size: 1em;
	text-align: right;
	cursor : pointer;
}

div.side-button-style:hover
{
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
}

div.review-popularity
{
	width: 100%;
	border-top: 1px solid #D2D7D3;
	height: 10px;
	padding-top: 6px;
	padding-bottom:10px;
}

div.button-like
{
	padding: 5px;
	font-family: "Caviar Dreams";
	font-size: 1em;
	text-align: center;
}

div.button-like:hover
{
	text-decoration: underline;
	cursor: pointer;
}

div.inside-pad
{
	padding: 10px;
}

div.avis-likes
{
	float: left; 
	width: 4%; 
	text-align: left;
	margin-top: 2px;
}

div.avis-utile
{
	display: inline-block;
	padding: 5px;
	border-radius : 2px;
	background-color: #763568;
	color: white;
	cursor: pointer;
}

div.img-box-styling
{
	border: 1px solid #D2D7D3;
}

div.info-box-details-img
{
	float: bottom;
}

div.info-box-details-name-rank
{
	padding-top: 3px;
}

div.info-styling
{
	
	border-radius: 2px;
	color: #003171;
	display: inline-block;
	text-align: center;
	padding-top: 2px;
	padding-bottom : 2px;
	padding-right: 3px;
	font-size: 12px;
}
table.profile-status
{
	width: 100%; 
	border-collapse: collapse;
}

 td.img-show
{
	width: 30%; 
	text-align : center; 
	padding: 3px;
}

td.details-show
{
	width: 30%; 
	text-align : center; 
	padding-left: 3px; 
	padding-top: 5px;
}

#start-discussion:hover
{
	cursor: pointer;
}
input.user-iden
{
	display: none;
}

div.info-box
{
	z-index: 100;
	position : absolute;
	display: none;
}

div.right-display
{
	width: 80%;
	text-align: right;
	margin-right: 0 ;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

div.catStyle
{
	color: #BDC3C7;
	border: 1px solid black;
}

div.img-display
{
	height: 100%;
	width: 40px;
	margin-right: 0;
	margin-left: auto;
}

div.img-display-left
{
	height: 100%;
	width: 40px;
	margin-left: 0;
	margin-right: auto;
}


div.infostyle
{
	font-family: "Caviar Dreams";
	font-size: 1em;
}

div.tagsStyle
{
	padding: 5px;
	background-color: white;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: "Caviar Dreams";
}

div.details-display
{
	height: 100%;
	margin-right: 0;
	margin-left: auto;
}

div.details-display-left
{
	height: 100%;
	margin-left: 0;
	margin-right: auto;
}

div.time-display
{
	float: bottom;
	height: 10px;
	margin-right: 50px;
	margin-left: auto;
	font-size: 10px;
	color: #BDC3C7;
	margin-bottom: 5px;
}
#demo {
	background-color: #ECF0F1;
	height: 2px;
	position: relative;
	width: 100px;
	margin-right: 0;
	margin-left: auto;
}
#demo:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	
	border: 6px solid transparent;
	border-left-color: #ECF0F1;
	
	left: 100%;
	top: 0px;
}

div.left-display
{
	min-height: 40px;
	width:80%;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}



div.time-display-left
{
	float: bottom;
	height: 10px;
	margin-left: 50px;
	margin-right: auto;
	font-size: 10px;
	color: #BDC3C7;
	margin-bottom: 5px;
}

div.message-display-left
{
	margin-left: 50px;
	margin-right: auto;
	float: bottom;
	text-align: left;
	background-color: #1A554F;
	color: #fff;
	max-width: 300px;
	display: inline-block;
	border-radius: 2px;
}

div.message-display
{
	margin-right: 50px;
	margin-left: auto;
	float: bottom;
	text-align: left;
	background-color: #0881A3;
	color: #fff;
	max-width: 300px;
	display: inline-block;
	border-radius: 2px;
}


#padd
{
	padding-top : 0px;
	padding: 5px;
}
#padd2
{
	padding-top : 0px;
	padding: 5px;
}
#demo-left {
	background-color: #EEEEEE;
	height: 2px;
	position: relative;
	width: 100px;
	margin-left: 0;
	margin-right: auto;
}
#demo-left:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	
	border: 6px solid transparent;
	border-right-color: #EEEEEE;
	
	right: 100%;
	top: 0px;
}

div.no-display-error
{
	padding: 10px;
	color: red;
}

div.no-display
{
	padding: 10px;
	color: #763568;
}

div.display-messages::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
div.display-messages::-webkit-scrollbar-thumb {
   background: #8D608C;
   border: 15px none #8D608C;
   border-radius: 30px;
}

div.date-message
{
	text-align: right;
	font-size: 10px;
	position: relative;
	top: -30px;
	right: 0px;
	height: 50px;
}
button.no-styling
{
	border: none;
	outline: none;
	background-color: #f5f5f5;
}

div.display-messages
{
	max-height: 500px;
	overflow-y: auto;
}
div.conversation
{
	width: 100%;
	border-bottom: 1px solid #BDC3C7;
	height: 105px;
}

div.conv
{
	padding: 5px;
}

div.conversation:hover
{
	cursor: pointer;
	background-color: rgba(141, 96, 140,0.7);
}
div.heading-color
{
	color: #264348;
	display: inline-block;
}
div.heading-color:hover
{
	text-decoration: underline;
}
div.pPic
{
	float: left;
	height: 100px;
	line-height: 80px;
}

div.recipient-name
{
	margin-top: 5px;
	margin-left: 5px;
	overflow: hidden;
	text-overflow: ellipsis; 
	height: 30px;
	overflow : hidden;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	width: 150px;
	font-family: "Aller";
}
div.left-side
{
	width: 75%;
	float: left;
}
div.option-messages
{
	text-align: middle;
}
table.option-messages-table
{
	text-align: center;
	border-collapse: collapse;
	font-size: 12px;
	cursor: pointer;
}
table.option-messages-table:hover
{
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

table.option-messages-table td
{
	padding: 5px;
	vertical-align: bottom;
}	
div.message-overview
{
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
	height: 50px;
	width: 170px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	float: left;
	font-family: "lato";
}

div.message-track
{
	max-height: 300px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 2px;
	float: bottom;
	overflow: auto;
}

div.message-track::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
div.message-track::-webkit-scrollbar-thumb {
   background: #8D608C;
   border: 15px none #8D608C;
   border-radius: 30px;
}

div.message-area
{
	height: 100px;
	border-top: 1px solid #D2D7D3;
}

textarea.reponse-message
{
	width: 100%;
	height: 100%;
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	padding: 10px;
	font-family: "Aller";
	resize: none;
}

input.top-message-class
{
	display: none;
}

div.to
{
	width: 5%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
}
input.userNameTextBox
{
	width: 50%;
	height: 100%;
	padding: 10px;
	outline: none;
	border: none;
	display: none;
}
input.userNameTextBox2
{
	width: 50%;
	height: 100%;
	padding: 10px;
	outline: none;
	border: none;
}

div.span-text
{
	display: inline-block;
	border-radius : 4px;
}

div.box-span-text
{
	background-color: #FCC9B9;
	border-radius: 4px;
	float: left;
	display: inline-block;
	padding: 4px;
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid #FFB3A7;
}

div.box-text
{
	float: left;

}
div.delete-user
{
	float: left;
	margin-left: 5px;
}

div.highlight
{
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 2px;
}

div.dis-user
{
	padding: 10px;
	height: 60px;
	border-bottom: 1px solid #D2D7D3;
}


div.dis-user:hover
{
	background-color: #A87CA0;	
	border-bottom: none;
	cursor: pointer;
}
#recipients
{
	display: none;
}
td.uname
{
	padding-left:15px;
}

.button-style
{
      display: inline-block;
      position: relative;
      width: 99%;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
	  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.button-style > paper-ripple 
{
      border-radius: 2px;
      overflow: hidden;
}

 .button-style.iris
 {
      background-color: #763568;
      color: #fff;
}

.center 
{
      text-align: center;
}
	
div.disc-info
{
	background-color: #fff;
	padding: 10px;
	min-height: 400px;
}

table.topic-table
{
	width: 100%;
}

div.sujet-div
{
	border-bottom: 1px solid black;
	min-height: 20px;
	margin-bottom: 20px;
}

div.description-div
{
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	min-height: 20px;
}

textarea.sujet-text, textarea.description-text, textarea.rep-disc
{
	width: 100%;
	height : 100px;		
    overflow: auto;
	margin-bottom: 0;
	margin-top: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	font-family: "Aller";
	resize: vertical;
}

div.usefullness
{
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius : 2px;
	background-color: rgba(118, 53, 104, 0.9);
	color: white;
	cursor: pointer;
	font-size: 12px;
}

div.usefullnessII
{
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius : 2px;
	background-color: rgba(118, 53, 104, 0.9);
	color: white;
	cursor: pointer;
	font-size: 12px;
}

div.avis_description
{
	padding: 5px;
}

dive.hide
{
	display: none;
}

dive.unhide
{
	display: block;
}
div.num_likes
{
	margin-right: 0;
	text-align: right;
}

div.subnumLikes
{
	float: right; 
	margin-top: 6px;
}

div.user-post
{
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius : 2px;
	color: #6C7A89;
	font-size: 12px;
}

div.useful
{
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius : 2px;
	background-color: #26A65B;
	color: white;
	font-size: 12px;
}

div.useful2
{
	display: none;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius : 2px;
	background-color: #26A65B;
	color: white;
	width: 10%;
	font-size: 12px;
}

div.usefullness:hover
{
	text-decoration: underline;
}

input.hidden-cat
{
	display: none;
}
.button-style-2
{
      display: inline-block;
	  padding: 5px;
	  margin-right: 20px;
	  border-radius: 2px;
	  float: bottom;
}
.button-style-2.raised 
{
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}



div.dis-head
{
	font-size: 1.2em;
	color: #264348;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	padding: 5px;
	padding-left: 0;
	float: left;
	transition: all .2s ease;
}

div.wrap
{
	display: inline-block;
	float: left;
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
div.drop
{
	position: relative;
	z-index: 200;
	background-color: #fff;
	display: none;
	margin-top: 2px;
	transition: all 0.3s ease;
	box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
	padding-right: 0;
	border-radius: 2px;
}


ul.ul-style
{
	padding: 0;
    list-style-type: none;
}

li.li-style
{
	padding: 2px;
	cursor: pointer;
}

input.no-style
{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

input.no-style2
{
	display : none;
}

div.display-recent-discussions
{
	padding: 10px;
}

div.discussion
{
	height: 300px;
}

div.author-img
{
	float: left;
	max-width: 15%;
	height: auto;
	padding: 5px;
	text-align: center;
}

div.author-details
{
	width: 100%;
	text-align: center;
	padding-top: 5px;
}

div.discussion-title
{
	font-size: 1.2em;
	color: #763568;
	font-family: "Montserrat";
	float: bottom;
	cursor: pointer;
}

div.discussion-desc
{
	height: 100px;
	overflow: hidden;
	font-size: 0.89em;
	word-break: break-all;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #2C3E50;
}
div.disc-dt
{
	width: 100%;
}

div.cat-details
{
	font-size: 0.7em;
	color: #5C6A79;
	float: left;
}

div.time-details
{
	font-size: 0.7em;
	color: #5C6A79;
	text-align: right;
	padding-right: 6px;
}

hr.line-style
{
	border: 1px solid #BDC3C7;
}

div.discussion-page
{
	padding: 10px;
}

div.topic
{
	min-height: 100px;
}

div.img-div-desc
{
	width: 10%;
	text-align: center;
	float: left;
}
div.name-details
{
	font-size: 1.5em;
}

div.topic-desc
{
	padding: 5px;
}

div.date
{
	font-size: 0.8em;
	color: #5C6A79 ;
}

div.cat-detail-topic
{
	padding-top: 3px;
	font-size: 0.85em;
	color: #5C6A79 ;
}

div.user-rep
{
	background-color: #fff;
	padding: 10px;
}



div.submit-rep
{
	width: 200px;
	height: 50px;
}

div.rep-wrap
{
	float: bottom;
	width: 100%;
	background-color: #fff;
	min-height: 100px;
}

div.left-details
{
	width: 15%;
	text-align: center;
	float: left;
}

div.right-details
{

	width: 80%;
	text-align: left;
	margin-right: 0 ;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

div.hidden-form-submit
{
	display: none;
}

div.wrap-long-text-review
{
	width: 97%;
	height: 100%;
	padding: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.author-review-pic
{
	width: 100%;
	padding: 4px;
}

a img {
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 15px;
}
p {
	line-height: 23px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.navbar-default {
	font-family: 'lato';
	font-size: 17px;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -150px;
	padding: 0 0 150px;
	position: relative;
}
.logo {
	max-width: 120px;
	margin: -8px 0 0;
	
}
.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	padding-top: 10px;
	background: #333333;
	color: #FFF;
	border-top:3px solid #8D608C;
}
.main-footer a:link, .main-footer a:visited {
	color: #FFF;
}
.main-footer a:hover {
	color: #E4E4E4;
}
.container-main {
	padding: 30px 0 0 0;
	
}
.container-main2 {
	padding: 10px 0 0 0;

}
.promo {
	min-height: 670px;
	background: url(../../../images/promo.jpg) repeat #F5F5F5;;
	margin: 40px 0;
	border-bottom: 3px solid #D4D4D4;
	background-size: cover;
	background-position: center;
	padding-bottom: 5px;
}

.writings
{
	margin-top: 50px;
	float: bottom;
	width: 80%;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.catch
{
	font-family: "Atlantic Cruise";
	font-size: 3em;
	padding-top:80px;
}

.subcatch
{
	font-family: "bellota";
	font-size: 1.1em;
}

@media screen and (min-width: 600px)
{
	.catch
	{
		font-size: 4em;
	}
	
	.subcatch
	{
		font-size: 1.75em;
	}
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.front-search 
{
	margin-top: 80px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.front-search h1 {
	text-align: center;
	margin-bottom: 30px;
}
.front-form {
	margin: 0 auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.55);
	padding: 10px;
}
.front-search .form-control {
	float: left;
}
.front-search h1{ font-size:35px; font-weight:bold;}

.forms {
	overflow: hidden;
}
.container-color {
	text-align: center;
	padding: 40px;
	background: #333333;
	margin-bottom: 30px;
	height: 250px;
}
.container-color h1{color:#FFF; margin-bottom:15px; font-size:30px;}

.container-color h3{color:#FFF; margin-bottom:10px;}

.post-info-bottom {
	padding: 10px 10px 0 10px;
	overflow: hidden;
}
.info-row {
	padding: 5px 0;
	display: block;
	border-top: 1px solid #dddddd;
}
.info-biz-row {
	padding: 5px 0;
	display: block;
}

button#searchButton
{
	width: 100%;
}

table.search
{
	width: 100%;
	border-collapse: collapse;
}

td.search
{
	width: 100%;
}

.col-rate {
	padding-bottom: 6px;
	float: left;
}
/* TAGS */

.bootstrap-tagsinput {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.bootstrap-tagsinput input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.bootstrap-tagsinput input {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: auto !important;
	max-width: inherit;
}
.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}
.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.page-title {
	text-align: center;
	margin-bottom: 30px;
}
.grid {
	padding-bottom: 10px;
	border: 1px solid #dddddd;
	margin-bottom: 20px;
	background: #FFF;
}
.grid.wow.fadeInUp>h2 {
	padding: 10px;
}
.grid.wow.fadeInUp>p {
	padding: 0 10px;
}
.left-title {
	padding: 7px;
	background: #be0e02;
	margin-bottom: 20px;
	color: #FFF;
}
/*profile*/

.container-biz {
	padding: 30px 0 20px 0;
}
.pull-biz-info {
	float: right;
	clear: both;
	margin-bottom: 10px;
}

.pull-prod-info {
	float: bottom;
	clear: both;
	margin-bottom: 10px;
}
.biz-info {
	margin-top: 30px;
}
.biz-info>h1 {
	padding-bottom: 15px;
}
.col-md-4.biz-info {
	padding-right: 0;
}
.col-pull {
	margin-top: 55px;
}
.review-box {
	padding-bottom: 15px;
	margin-bottom: 16px;
	border-bottom: 1px dashed #dddddd;
}
.img-avatar {
	display: inline-block;
	float: left;
	margin-right: 8px;
}
.review-body {
	display: block;
	clear: both;
	padding-top: 7px;
}
.col-description {
	margin-bottom: 25px;
}
.col-padding {
	padding-left: 0;
	padding-right: 0;
}
#inputReview {
	height: 100px;
}

#description-disc {
	height: 200px;
}
.input-group-2 {
	overflow: hidden;
	padding-bottom: 15px;
}
.biz-title {
	background: #f5f5f5;
	padding: 7px 10px;
}
.biz-title h1 {
	margin-bottom: 10px;
}
.biz-title-2 {
	background: #f5f5f5;
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}
.col-shadow {
	border: 1px solid #dddddd;
	padding-left: 0;
	padding-right: 0;
	background: #FFF;
	margin-bottom: 15px;
}
.col-desc {
	padding: 15px 10px;
	overflow:hidden;
}
.col-desc h2 {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #dddddd;
}
.col-box-search{
	border: 1px solid #dddddd;
	padding-left: 0;
	padding-right: 0;
	background: #FFF;
	margin-bottom: 15px;
}
.search-title{ padding:10px;}

.search-again{padding-bottom:30px;}

.font-big {
	font-size: 37px;
}
.rate-title {
	background: #f5f5f5;
	padding: 7px 10px;
	margin-bottom: 15px;
}
.col-right {
	padding: 0 10px 10px 10px;
	overflow:hidden;
}
.right-title {
	padding: 10px;
	border-bottom: 1px dashed #dddddd;
	margin-bottom:7px;
	display:block;
	overflow:hidden;
}
#map {
	width: 100%;
	height: 250px;
	margin-bottom:7px;
}
#map-big{
	width: 100%;
	height: 450px;
	margin-bottom:7px;
}

.progress-left {
	width: 60px;
	float: left;
}
.morebox {
	width: 100%;
	text-align: center;
}
a.btn-danger, a.btn-danger:visited {
	color: #FFF;
}
.well {
	overflow: hidden;
}
/*Gallary*/

.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 40%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 40%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}

.modal-header>button.close{margin-right:10px; margin-top:5px;}

.modal-header>h4.modal-title{margin-left:10px; margin-top:10px;}

.col-row{margin-top:25px;}

.note{ margin-bottom:15px;}

#infscr-loading>div{width:100%; text-align:center; clear:both; padding:15px; margin-bottom:20px;}

.col-day{width:60px; float:left; font-weight:bold;}

.pull-down{margin-top:10px;}

.pull-down p{margin-bottom:10px;}

.col-boader{border-bottom:1px solid #dddddd;}

.social-buttons{padding:5px 7px; display:inline-block;}

.btn-fb, .btn-fb:link, .btn-fb:visited{ background:#204385; color:#FFF;}

.btn-fb:link:hover{ background:#2654ac;}

.btn-tweet, .btn-tweet:link, .btn-tweet:visited{ background:#2aa9e0; color:#FFF;}

.btn-tweet:link:hover{ background:#1787c2;}

.btn-pinit, .btn-pinit:link, .btn-pinit:visited{ background:#ca2128; color:#FFF;}

.btn-pinit:link:hover{ background:#be0a12;}

.btn-bm, .btn-bm:link, .btn-bm:visited{ background: #00B900; color:#FFF;}

.btn-bm:link:hover{ background: #00A600;}

#preview{ margin-top:15px; }

#preview img{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}

.edit-link-1{padding:5px 0;}

.edit-link-2{padding:0;}

.edit-links{padding:10px 10px 0 0; display:inline-block;}

.col-box{height:466px;}

.grid p{height:60px;}

/*Raty*/

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/raty.eot");
  src: url("../fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/raty.svg#raty") format("svg");
  src: url("../fonts/raty.ttf") format("truetype");
  src: url("../fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}

.footer-center{text-align:center; width:100%;}

.footer-center>a, .footer-center>a:link, .footer-center>a:visited{color:#D4D4D4;}

.footer-center>a:hover{color: #C9C9C9;}

.footer-btns, .footer-btns:link{width:40px; height:40px; line-height:40px; text-align:center; background:#2b2b2b; margin-top:15px; font-size:20px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.footer-btns:hover{ background:#242222;}

.copyright{padding:15px 0;}

.img-thumbs{
  padding: 4px 0 7px 0;
  margin: 7px 0;
  line-height: 1.42857143;
  background-color: #ffffff;
  overflow:hidden;
  width:100%;
  border-bottom:1px solid #dddddd;
  }

.img-thumbs .right-caption > img {
    float: left;
    margin-right: 9px;
	margin-left:9px;
	padding-bottom:10px;
}

.img-thumbs .right-caption {
    float: left;
}

.img-thumbs .right-caption > .caption {
    padding: 4px;
}

.col-caption{float:left;}

.col-caption h2{padding-bottom:0; border: none; margin-bottom:3px;}

.pull-link{padding:10px; margin-bottom:5px; display:inline-block;}

.col-ads{padding:5px; text-align:center;}

.col-ads .img-responsive{width:100%;}

.col-ads-long{padding:5px; text-align:center; max-width:790px; margin:0 auto 20px auto;}

.col-ads-long .img-responsive{width:100%;}

.front-submit{ width:100%; text-align:center; padding-top:20px; display:block;}

.front-submit>button.btn.btn-lg.btn-danger{margin-top:20px;}

.search-bar{margin-top:65px; background:#FFF; padding-top:8px; padding-bottom:15px; border-bottom:1px solid #dddddd;}

.search-bar .col-md-4>h2{line-height:35px; font-weight:bold;}

.font-small{color: #8A8A8A; font-size:13px; line-height:23px;}

.over-label{position:absolute; padding:5px; margin:5px; background: rgba(44, 62, 80, 0.8); color:#FFF; font-size: 12px;}

.over-label:link, .over-label:visited{color:#FFF;}

.col-mobile-only{display:none;}

.img-profile{text-align:center; width:100%; padding:10px; overflow:hidden;}

.img-profile>p{margin-top:20px;}

.col-profile p{ padding:10px;}

.col-ad-mobile{display:none;}

.btn-pic-delete{color:#F00; position:absolute; margin:10px; padding:4px; line-height:20px; text-align:center; font-size:17px; background:rgba(0, 0, 0, 0.3); -webkit-border-radius: 3.px;
-moz-border-radius: 3.px;
border-radius: 3.px;}

.col-gallery{position:relative;}

@media (max-width: 1007px) {

.img-responsive{width:100%;}

.col-box{height: auto; margin-bottom:10px;}

.col-desktop-only{display:none;}

.search-bar{margin-top:70px; padding-top:30px;}

#term {margin-bottom:10px;}

.col-mobile-only{display: inline-block;}

.btn-width{width: 100%;}

.col-btn{display:block; padding-left:15px; padding-right:15px;}

.img-remove{ display:none;}

.right-caption{padding-left:10px; padding-right:10px;}



}

@media (max-width: 760px) {

.container-color h1
{
  font-size: 25px;
}	
	
}

@media (max-width: 570px) {

.container-color h1
{
  font-size: 22px;
  line-height:30px;
}

.container-color{height:auto;}	

.social-buttons{width:49%; margin-bottom:10px;}
		
	
}

@media (max-width: 550px) {

.col-ad-mobile{display: block; position:fixed; bottom:0; text-align:center;}

#wrap {
	margin: 0 auto -200px;
	padding: 0 0 200px;
}

.main-footer {
	height: 200px;
}
	
}

@media (max-width: 350px) {

.social-buttons{width:100%; margin-bottom:10px;}
	
}
